{% extends 'base.html' %}

{% block title %}{{ customer.name }}'s orders{% endblock %}

{% block content %}
    <h2> Все продукты пользователя: {{ customer.name }} </h2>
    {% for product in products %}
                <p>{{ product }}</p>
    {% endfor %}
{% endblock %}


{#{% block content %}#}
{#    <h2>Заказы клиента за неделю: {{ customer.name }}</h2>#}
{#    {% for order in orders %}#}
{#        <h1>order</h1>#}
{#        <p>{{ order.date }}</p>#}
{#        <p>{{ order.amount }}</p>#}
{#    <table>#}
{#        {% for order in orders %}#}
{#            <tr>#}
{#                <td><a href="{% url 'order_full' order.id %}">{{ order.id }}</a>#}
{#                <td>{{ post.get_summary }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{##}
{#                <h3>Products</h3>#}
{#                <p>{{ order_products.pop }}</p>#}
{##}
{#    {% endfor %}#}
{#{% endblock %}#}