{% extends 'base.html' %}

{% block title %}{{ customer.name }}'s orders{% endblock %}

{% block content %}
    <h1>Заказы клиента {{ customer.name }}</h1>
    {% for order in orders %}
        <h2>Заказ от </h2>
        <p>{{ order.date }}</p>
        <p>{{ order.amount }}</p>
    <table>
        {% for order in orders %}
            <tr>
                <td><a href="{% url 'order_full' order.id %}">{{ order.id }}</a>
            </tr>
        {% endfor %}
    </table>
                <h3>Продукты</h3>
                 {% for i in products %}
                <li>{{ i }}</li>
                {% endfor %}
{#                <p>{{ products.pop }}</p>#}

    {% endfor %}
{% endblock %}